*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    overflow: hidden;
}

#nav{
    display: flex;
    align-items: center;
    position: absolute;
    width:100%;
    justify-content: space-between;
    padding:5px;
}

#nav img{
    height:50px;
    width:50px;
}

#nav h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: rgb(255, 187, 0); 
    font-size: 25px;
}

#main{
    height: 100%;
    width:100%;
    background-color:rgb(110, 45, 40);
    display: flex;
    /* overflow-x:hidden; */
}

#part1{
    height:100%;
    width:25%;
    /* background-color: aqua; */
}

#part2{
    height:100%;
    width:67%;
    background-color: rgb(123, 0, 255);
    background-image: url('https://images.unsplash.com/photo-1613800172017-6b2b3787fdb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZsb3dlciUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

#overlay{
    height:100%;
    width:100%;
    background-color: rgba(132, 53, 47, 0.25);
}

#part3{
    height:100%;
    width:8%;
    /* background-color: rgb(0, 255, 81); */
}

#text{
    /* height:250px; */
    position:absolute;
    /* width:300px; */
    /* background-color: brown; */
    /* left:1.5%;
    top:50%; */
    transform: translate(65px,160px);

}

#text>h1{
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 82px;
    letter-spacing: 5px;
    color: aliceblue;
}

#smallIm{
    height:450px;
    width:320px;
    background-color: antiquewhite;
    position: absolute;
    transform:translate(885px, 105px);
    background-image: url('https://images.unsplash.com/photo-1613646805101-71e43c438010?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA3fHxmbG93ZXIlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
    
    background-size: cover;
    
}

#overlaySmall{
    height:100%;
    width:100%;
    background-color: rgba(132, 53, 47, 0.1);
}

#vertiText{
    position: absolute;
    transform: translate(1050px,300px);
    /* width:100%; */
    /* background-color: transparent; */
}

#vertiText h1{
    
    color:transparent;
    letter-spacing: 5px;
    font-size:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    transform: rotate(90deg);
}